name: Pull request quality checks

on:
  pull_request:

jobs:

  build:
    uses: codesmithcloud/ci/.github/workflows/multi-platform-oci-build.yml@main
    secrets: inherit
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

  quality:
    uses: codesmithcloud/ci/.github/workflows/code-quality.yml@main
    secrets: inherit
