name: Tag and release a new version

on:
  push:
    branches:
    - main

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semantic.outputs.version }}
      version-tag: ${{ steps.semantic.outputs.version_tag }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Determine version
      id: semantic
      uses: paulhatch/semantic-version@v5.4.0
      with:
        tag_prefix: v
        debug: true
    - name: Tag git repo with new version
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Actions"
        git tag -a "${{ steps.semantic.outputs.version_tag }}" -m "Release ${{ steps.semantic.outputs.version_tag }}"
        git push origin tag ${{ steps.semantic.outputs.version_tag }}

  deploy:
    runs-on: ubuntu-latest
    needs:
    - tag

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get previous tag
        id: previous
        run: |
          name=$(git --no-pager tag --sort=creatordate --merged refs/tags/${{ needs.tag.outputs.version-tag }} | tail -2 | head -1)
          echo "tag=$name" >> $GITHUB_OUTPUT

      - name: Update changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fromTag: ${{ steps.previous.outputs.tag }}
          toTag: ${{ needs.tag.outputs.version-tag }}
          writeToFile: false

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: false
          makeLatest: true
          name: ${{ needs.tag.outputs.version-tag }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ needs.tag.outputs.version-tag }}
